<div class="empMain">
  <div class="empMain__sub">
    <h2>Employee Details with name and city filters</h2>

    <select
      #emp
      (change)="onEmp(emp.value)"
      [value]="flag ? empName : 'Select'"
      class="empMain__sub__select"
    >
      <option hidden>Select</option>
      <option *ngFor="let e of employees">{{ e.name }}</option>
    </select>

    <select
      #city
      (change)="onCity(city.value)"
      [value]="flag ? 'Select' : cityName"
      class="empMain__sub__select"
    >
      <option hidden>Select</option>
      <option *ngFor="let c of cities">{{ c }}</option>
    </select>

    <br />
    <br />
    <table border="2px" class="empMain__sub__tableDiv">
      <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
      </thead>
      <tbody *ngFor="let em of empo">
        <td>{{ em.id }}</td>
        <td>{{ em.name }}</td>
        <td>{{ em.sname }}</td>
        <td>{{ em.city }}</td>
      </tbody>
    </table>
  </div>
</div>


Hi vaishnavi
Hi vinay

I'm devloping some second feature